html, body, main
{
    height: 100%;
}
  
.full-height 
{
    overflow: hidden;
    height: 100%;
}

#adventure-log
{
    min-height: 90%;
    max-height: 90%;
    overflow-y: auto;
}

#command-text-width
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert
{
    bottom: 100px;
}