html,
body,
main {
  height: 100%;
}

.full-height {
  overflow: hidden;
  height: 100%;
}

#adventure-log {
  min-height: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#command-text-width {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.response-text{
  color: #45f535;
}

.selected-response{
  color: #da668c;
}

.response-text:hover{
  cursor: pointer;
  color: #59a752;
}

.object-text{
  color: #ffda0a;
}

.object-text:hover{
  cursor: pointer;
  color: #c2aa22;
}

.mob-text{
  color: #009fd4;
}

/* .mob-text:hover{
  cursor: pointer;
  color: #009fd4;
} */

.scene-item-text{
  color: rgb(151, 114, 11);
}

.scene-item-text:hover{
  cursor: pointer;
  color: rgb(110, 84, 10);
}

.inv-item-text{
  color: rgb(192, 192, 192);
}

.inv-item-text:hover{
  cursor: pointer;
  color: rgb(145, 145, 145);
}

.path-text{
  color: rgb(201, 17, 17);
}

.selected-path{
  color: rgb(20, 218, 102);
}

.path-text:hover{
  cursor: pointer;
  color:  rgb(141, 13, 13);
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.alert {
  bottom: 100px;
}

.suggestion-menu {
  background-color: #cccccc;
  font-weight: bolder;
}

.suggestion-menu p:hover {
  background-color: gray;
}

.suggestion-menu p {
  cursor: pointer;
  margin: 0;
  padding: 0.3rem;
  border-bottom: #130e4227 3px dotted;
}

.suggestion-menu .selected {
  background-color: rgba(91, 189, 255, 0.829);
}

.suggestion-menu .selected:hover {
  background-color: rgba(91, 189, 255, 0.829);
}
